@media (max-width: 600px) {
  .card {
    max-width: 300px;
    &__flag {
      left: calc(50% - 20px);
      width: 40px;
    }
    &__line {
      display: none;
    }
    &-row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
